*.cfu
*.cfl
*.lgd
*.orig
*.bak
*_pid*.log
context/
plans/
tools/**/*.jar
local-env-*
*.log
*.gz

# memory-bank
custom_modes/
.cursor/rules/isolation_rules/
.env
node_modules
mcp-server.*
.codex/
build/
